@import './overrides';
@import "~bootstrap/scss/bootstrap.scss";
@import '~tether/src/css/tether';
@import './patches';

@keyframes spinner {
  to {transform: rotate(360deg);}
}

#content {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.spinner {
  box-sizing: border-box;
  top: 50%;
  left: 50%;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 2px solid rgb(204,204,204);
  border-top: 3px solid rgb(0,119,221);
  animation: spinner 750ms linear infinite;
}

.active a {
  color: white;
}

.package-command-code {
  border-radius: 4px;
  padding: 2rem 1rem;
  background-color: rgba(0,0,0,.75);
  color: rgb(0,255,0);
  font-size: 1.25rem;
}
